body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background: #FFC1E9;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}
main {
    padding: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #ddd;
    margin-top: 20px;
}
.left-aligned-image {
    margin-left: 0; /* Removes any left margin */
    float: left; /* Aligns the image to the left side */
}

